@media (max-width: 390px){
    .sectionPrincipal{
        font-size: 1.25rem;
        height: 12.5rem;
    }
    .sectionNosotros div{
        width: 13.125rem;
        height: 18.75rem;
    }
    #iconoMenu{
        right: 2rem;
    }
}