@media(max-width: 1015px){
    .sectionServicios{
        div{
            width: 70%;
            img{
                width: 21.875rem;
                height: 21.875rem;
            }
        }
    }
    .paginaError{
        display: flex;
        flex-direction: column;
    }
}

