@media (max-width: 390px){
    .sectionPrincipal{
        font-size: 1.25rem;
        height: 12.5rem;
    }
    #iconoMenu{
        right: 2rem;
    }
    /* CARROUSEL SERVICIOS INDEX */
    .carousel-image img{
        width: 12.5rem;
        height: 12.5rem;
    }
    .claim{
        font-size: map-get($size , m);
    }
    .sectionNosotrosDetalle{
        @include flex(row,wrap,center,center);
        article{
            display: flex;
            justify-content: center;
        }
    }
    #mision{
        display: flex;
        flex-direction: row-reverse;
    }
    .sectionServicios{
        div{
            width: 60%;
            img{
                width: 18.75rem;
                height: 18.75rem;
            }
        }
    }
}