@media(max-width: 1750px){
    .sectionNosotrosDetalle{
        article{
            width: 31.25rem;
            height: 31.25rem;
        }
        div{
            img{
                width: 31.25rem;
                height: 31.25rem;
            }
        }
    } 
}