@media(max-width: 428px){
    .sectionNosotrosDetalle{
        article{
            justify-content: flex-start;
        }
    }
    .paginaError a img{
        width: 18.75rem;
        height: 9.375rem;
    }
}