@media(max-width: 650px){
    .sectionNosotrosDetalle{
        article{
            width: 18.125rem;
            height: 18.125rem;
        }
        div{
            img{
                width: 18.125rem;
                height: 18.125rem;
            }
        }
    } 
    /* Pagina Contacto */
    .flexContacto{
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    #ubicacion{
        width: 90%;
        margin-right: 0%
    }
    .sectionContacto{
        width: 90%;
        margin-left: 0%;
    }
    /* MENU HAMBURGUESA */
    .navBar{
        flex-direction: column;
        text-align: center;
        gap: 0px;
    }
    header{
        nav{
        display: none;
        }
        label{
            display: flex;
            position: fixed;
            top: 2rem;
            right: 3.75rem;
        }
        #toggle:checked ~ .menu{
            display: block;
            flex-direction: column;
            width: 100%;
            height: auto;
        }
    }
    /* CONTACTO */
    .flexContacto{
        section{
        width: 90%;
        margin-left: none;
        margin-bottom: 1.25rem;
        }
    }
    .claim{
        font-size: map-get($size , lg);
    }
}