@media(max-width: 600px){
    .sectionNosotrosDetalle{
        @include flex(column, nowrap, none, self-end);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
        justify-items: center;
        padding-bottom: 1.25rem;
        article{
            width: 90%;
            grid-column: 1/2;
            grid-row: 1/3;
        }
        div{
            grid-column: 1/2;
            grid-row: 1/3;
            order: 1;
            img{
                width: 15.625rem;
                height: 12.5rem;
                padding-top: 1.5625rem;
            }
        }
    }
    #mision{
        flex-direction: column-reverse;
    }
}