#cardsPaginaClientes{
    width: 100%;
    height: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    div{
        padding: 1.25rem;
        &:first-child{
        grid-column: 1/2;
        grid-row: 1/2;
        }
        &:nth-child(2){
            grid-column: 2/3;
            grid-row: 1/2;
        }
        &:nth-child(3){
            grid-column: 3/4;
            grid-row: 1/2;
        }
        &:nth-child(4){
            grid-column: 1/2;
            grid-row: 2/3;
        }
        &:nth-child(5){
            grid-column: 2/3;
            grid-row: 2/3;
        }
        &:last-child{
            grid-column: 3/4;
            grid-row: 2/3;
        }
    }
}
.button{
    width: 9.375rem;
    height: 3.125rem;
    background-color: $color-principal;
    border-color: $color-principal;
    margin-bottom: .625rem;
    margin-top: .625rem;
    padding: .625rem;
    border-radius: .9375rem;
    &:active{
        background-color: $color-terciario;
        border-color: $color-terciario;
    }
    a{
        color: $color-texto;
        text-decoration: none;
    }
}